{% extends 'base.html.twig' %}

{% block title %}Modifier {{ artist.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/ArtistPage.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier {{ artist.name }}</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
        {{ form_end(form) }}

        <br>
        <a href="{{ path('app_artists_list') }}" class="btn btn-secondary">Annuler</a>
    </div>
{% endblock %}
