{% extends 'base.html.twig' %}

{% block title %}New Artist{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/ArtistPage.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Add a New Artist</h1>

        {{ form_start(form, {'enctype': 'multipart/form-data'}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.imageFile) }} {# Use imageFile, not image #}
        <button type="submit" class="btn btn-success">Create</button>
        {{ form_end(form) }}

        <br>
        <a href="{{ path('app_home') }}" class="btn btn-secondary">Back to Home</a>
    </div>
{% endblock %}
