{% extends 'base.html.twig' %}

{% block title %}{{ artist.name }}{% endblock %}

{% block body %}
    <h1>{{ artist.name }}</h1>

    {% if artist.image %}
        <img src="{{ asset('uploads/artists/' ~ artist.image) }}" alt="{{ artist.name }}" width="200">
    {% else %}
        <p>Pas d'image disponible.</p>
    {% endif %}

    <p><a href="{{ path('app_artist_list') }}">Retour à la liste d'artists</a></p>
{% endblock %}