{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Events.css') }}">
{% endblock %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Event</h1>

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_widget(form) }}
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        {{ form_end(form) }}

        <br><br>
        <a href="{{ path('app_event_show', {'id': event.id}) }}" class="btn btn-secondary">Back to Event</a>
    </div>
{% endblock %}
