{% extends 'base.html.twig' %}

{% block title %}Liste des event{% endblock %}

{% block body %}
    <h1>Liste des Event</h1>

    <!-- Filter form for date range -->
    <form method="get" action="{{ path('app_events_list') }}">
        <label for="start_date">Start Date:</label>
        <input type="date" name="start_date" value="{{ start_date }}">

        <label for="end_date">End Date:</label>
        <input type="date" name="end_date" value="{{ end_date }}">

        <button type="submit">Filter</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Date</th>
            <th>Artist Name</th>
            <th>Artist Description</th>
            <th>Artist Image</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.date|date('Y-m-d H:i') }}</td>
{#                <td>{{ event.artist }}</td>#}
                <td>{{ event.artist.name }}</td>
                <td>{{ event.artist.description }}</td>
                <td>
                    {% if event.artist.image %}
                        <img src="{{ asset('uploads/artists/' ~ event.artist.image) }}" alt="{{ event.artist.name }}" width="100">
                    {% else %}
                        Pas d'image
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun event trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
