{% extends 'base.html.twig' %}


{% block title %}New Artist{% endblock %}


{% block body %}
    <h1>Add a New Event</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.date) }}
    {{ form_row(form.artist) }} {# Assurez-vous que ce champ est bien affiché #}
    <button type="submit">Create</button>
    {{ form_end(form) }}

    <br>
    <a href="{{ path('app_home') }}">Back to Home</a>
{% endblock %}