{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Events.css') }}">
{% endblock %}

{% block title %}New Event{% endblock %}

{% block body %}
    <div class="container">
        <h1>Add a New Event</h1>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.name) }}
            {{ form_row(form.date) }}
            {{ form_row(form.artist) }}
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        {{ form_end(form) }}

        <br><br>
        <a href="{{ path('app_home') }}" class="btn btn-secondary">Back to Home</a>
    </div>
{% endblock %}
