

<div>
    <h1>This is HomePage</h1>
    <a href="{{ path('app_register') }}">Register</a><br>
    <a href="{{ path('app_login') }}">Login</a><br>
    <a href="{{ path('app_artist_new') }}">Add a new artist</a><br>
    <a href="{{ path('app_artist_list') }}">Voir les artistes</a><br>
    <a href="{{ path('app_events_list') }}">Voir les event</a>

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
</div>